<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.linphone">
    <uses-permission android:name="android.permission.VIBRATE"/>
    <application
            android:name=".MainApplication"
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="linphoneAndroid"
            xmlns:tools="http://schemas.android.com/tools"
            tools:replace="android:label"
            android:supportsRtl="true"
            android:theme="@style/AppTheme">
        <activity android:name="com.linphone.addressbook.view.EditContactImpl"/>
        <activity android:name="com.linphone.addressbook.view.ContactDetail"/>
        <activity android:name="com.linphone.login.view.LoginPhoneActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
    <activity android:name="com.linphone.addressbook.view.AddressBookImpl"/>
        <activity android:name=".call.view.Dial"/>
        <activity android:name=".call.view.CallActivity"/>
        <activity android:name=".call.view.CallOutgoingActivity"/>
        <activity android:name=".call.view.CallIncomingActivity"/>
        <!--            <intent-filter>-->
        <!--                <action android:name="android.intent.action.MAIN"/>-->
        <!--                <category android:name="android.intent.category.LAUNCHER"/>-->
        <!--            </intent-filter>-->
        <!--        </activity>-->

    </application>
    <uses-permission android:name="android.permission.READ_CALL_LOG"/>
    <uses-permission android:name="android.permission.WRITE_CALL_LOG"/>
    <uses-permission android:name="android.permission.READ_CONTACTS"/>
    <uses-permission android:name="android.permission.WRITE_CONTACTS"/>

</manifest>
